@using Sixty.ViewModels
@using Sixty.Models
@using Sixty.Helpers
@model IEnumerable<Season>

@{
    ViewBag.Title = "Управление сезонами";
    var num = 1;
}

<div class="portlet">
    <div class="row">
        <div class="container" style="padding-bottom: 15px;">
            <a href="@Url.Action("Edit", "Season")" class="btn btn-primary"><img src="@Url.Content("~/Resources/Images/ext-link16-white.png")" class="inline-image16" /> Новый сезон</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <th class="center">#</th>
        <th class="center">@TR.T("Наименование")</th>
        <th class="center">@TR.T("Дата начала")</th>
        <th class="center">@TR.T("Дата окончания")</th>
        <th class="center">@TR.T("Действия")</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(num++)</td>
                    <td>@item.Name</td>
                    <td>@item.BeginDate</td>
                    <td>@item.EndDate</td>
                    <td class="center">
                        <a href="@Url.Action("Edit", "Season", new { id = @item.Id }, null)"><img src="@Url.Content("~/Resources/Images/edit16.png")" class="inline-image16" /></a>
                        <a href="@Url.Action("Delete", "Season", new { id = @item.Id }, null)"><img src="@Url.Content("~/Resources/Images/delete16.png")" class="inline-image16" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
