@{
    ViewBag.Title = "Главная страница";
}

<div class="col-md-2">
    <ul class="user-menu">
        <li>
            <div class="hoverable">
                <a href="@Url.Action("Profile", "Home")">
                    <img src="@Url.Content("~/Resources/Images/home16.png")" />
                </a>
                @Html.ActionLink("Мой профиль", "Profile", "Home")
            </div>
        </li>
        <li>
            <div class="hoverable">
                <a href="@Url.Action("Index", "Team")">
                    <img src="@Url.Content("~/Resources/Images/team16.png")" />
                </a> 
                @Html.ActionLink("Моя команда", "Index", "Team")
            </div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Message")">
                <span class="hoverable">
                    Сообщение
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="col-md-10">
    info
</div>