<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Resources/Script/jquery-ui-1.12.1.custom/external/jquery/jquery.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Resources/Script/jquery-ui-1.12.1.custom/jquery-ui.min.css")">
    <script src="@Url.Content("~/Resources/Script/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container middle header">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 0px;" href="#">
                    <img alt="60 секунд Ижевск" src="@Url.Content("~/Resources/Images/main-logo.png")">
                </a>
                @Html.ActionLink("60 секунд Ижевск", "Index", "Home", new { area = "" }, new { @class = "navbar-brand main-title", })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Моя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Результаты", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
